/*******************************************************************************
 * 表单
 ******************************************************************************/
.form-outside {
    border: #F5F5F5 solid 3px;
    border-radius: 3px;
    margin-bottom: 0.6em;
}

.form-outside .form {
    border: #E9E9E9 solid 1px;
}

.form-outside .form fieldset {
    border: #E9E9E9 solid 1px;
    margin: 10px 20px;
    border-radius: 5px;
}

.form-outside .form fieldset .form-group {
    background: none;
    border-bottom: #E9E9E9 solid 1px;
}

.form-outside .form fieldset .form-group label.control-label {
    width: 78px;
}

.form-outside .form fieldset legend {
    font-weight: bold;
    margin-left: 36px;
    padding: 0 10px;
    color: #999999;
    height: 30px;
    line-height: 30px;
}

.form-layout-column .entry {
    clear: none;
    padding: 6px 0;
    display: block;
    width: 100%;
    background: transparent url(../images/dot.gif) repeat-x left bottom;
}

.form .entry:after, .form .form-group:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.form .entry .form-group {
    width: 50%;
    clear: none;
    float: left;
    display: block;
}

.form {
    clear: both;
    padding: 5px 0;
}

div.form .form-group {
    clear: both;
    padding: 6px 0;
    display: block;
    background: transparent url(../images/dot.gif) repeat-x left bottom;
}

.form-layout-column .entry .form-group {
    background: none;
    padding: 0;
}

div.form .form-group:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

form .form-group label {
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px 15px 5px 10px;
    position: relative;
    width: 120px;
    margin-left: 10px;
    text-align: right;
    color: #999999;
    /*    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
        border: 1px solid #d5d5d5;
        border-right: none;
        border-radius: 3px 0 0 3px;*/
}

form .form-group div label {
    display: inline-block;
    width: auto;
    margin-left: 0;
    font-weight: normal;
    padding: 0 10px;
}

form .form-group label.item {
    width: 70px;
    padding: 5px 0;
    margin-left: 0;
    font-weight: normal;
    text-align: left;
}

form .form-group .hint-block {
    color: #ccc;
    height: 24px;
    line-height: 24px;
    margin-left: 135px;
}

div.form .form-group input[type="radio"], div.form .form-group div label input[type="checkbox"] {
    margin: 6px 0;
}

form .required label {
    color: #C00;
}

.form .label-indent {
    margin-left: 140px;
}

.form .form-group .checkbox label {
    margin-left: 140px;
    width: auto;
}

div.form .wrap {
    padding: 3px;
}

div.form .form-group .wrap label input {
    float: left;
}

div.form .form-group input, div.form .form-group textarea, div.form .form-group input, div.form .form-group .wrap textarea {
    margin-top: 0;
    margin-bottom: 0;
}

div.form .form-group input[type="radio"],
div.form .form-group input[type="checkbox"] {
    margin: 8px 0;
}

input[type=text].disabled, select.disabled, input[type=password].disabled, input.disabled, textarea.disabled {
    background: #F5F5F5;
    color: #999;
}

select {
    margin: 0;
}

input[type="text"],
input[type="password"],
.g-text {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 5px 5px;
    width: 600px;
    background: url(../images/input-bg.png) repeat-x scroll 0 -127px #FAFAFA;
}

.g-text-number {
    width: 100px !important;
}

.g-text-medium {
    width: 400px !important;
}

.g-text-large {
    width: 600px !important;
}

textarea,
.g-text-area {
    background: url(../images/input-bg.png) repeat-x scroll 0 -127px #fff;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    width: 600px;
    height: 120px;
    max-height: 450px;
    font-size: 12px;
    line-height: 24px;
    padding: 5px 5px 6px;
    resize: none;
}

.g-editor {
    background-color: #ccc;
    width: 600px;
    height: 200px;
}

.date-picker {
    width: 100px !important;
    background: #FFF url(../images/calendar.png) no-repeat 90px center !important;
}

.datetime-picker {
    width: 160px !important;
    background: #FFF url(../images/calendar.png) no-repeat 150px center !important;
}

textarea.focus, input.focus {
    background: none repeat scroll 0 0 #d5d5d5;
}

textarea.blur, input.blur {
    background-color: #FFFFFF;
}

.form div.help-block {
    color: #C00;
    line-height: 30px;
    padding-left: 156px;
    background: url(../images/error.png) no-repeat 136px 50%;
}

div.form .form-group #node-names {
    margin-left: 10px;
    border: #E9E9E9 solid 1px;
    background-color: #F5F5F5;
    padding: 2px 5px;
    border-radius: 5px;
}

div.form .form-group #node-names em {
    margin: 0 5px;
    color: #3b7fc4;
}

div.form .form-group #node-names em.nothing {
    color: #C00;
    background: url(../images/notice.png) no-repeat left center;
    padding-left: 20px;
}

/* 表单中上传的图片预览 */
div.form .form-group .image-preview a {
    display: inline-block;
    margin-top: 10px;
    border: #E9E9E9 solid 3px;
    padding: 4px;
    border-radius: 4px;
    float: left;
}

div.form .form-group .image-preview .btn-remove {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: url(../images/delete.png) no-repeat center center;
    padding: 0;
    font-size: 0;
    font-weight: bold;
    margin-left: -22px;
    color: #C00;
}

div.form .form-group .image-preview .btn-remove:hover {
    border-color: #C00;
}

/*******************************************************************************
 * Simple form
 ******************************************************************************/
#simple-form,
#simple-form form {
    padding: 0;
    margin: 0;
}

#simple-form {
    border: #CACACA solid 1px;
    width: 100%;
}

#simple-form .form-toolbar {
    height: 28px;
    line-height: 28px;
    border-bottom: #CCC solid 1px;
    margin: 0;
    padding: 0;
}

#simple-form .form-toolbar .btns {
    float: left;
}

#simple-form .form-toolbar .help {
    float: right;
}

#simple-form .form-toolbar .btns a {
    padding: 2px 10px;
    margin-left: 12px;
    border-radius: 3px;
    border: #EEEEEE solid 1px;
}

#simple-form .form-toolbar .btns a.active,
#simple-form .form-toolbar .btns a:hover {
    border: #ccc solid 1px;
    background-color: #F5F5F5;
}

#simple-form .form-toolbar a.markdown-help {
    float: right;
    margin-right: 10px;
}

#simple-form .content textarea {
    width: 100%;
    border: none;
    height: 120px;
    display: block;
    padding: 10px 0;
    margin: 0;
}

#simple-form .content .errorMessage {
    border: none;
    border-top: 1px solid #FBC2C4;
    margin-top: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#simple-form .success {
    margin: 0;
    padding: 0;
    background: #FFF;
    border: none;
}

#simple-form .attachment-files-bar {
    border-top: #CCC solid 1px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #999999;
}

#simple-form .attachment-files-bar input.submit {
    float: right;
    height: 30px;
    line-height: 30px;
    border: none;
    border-left: #CCC solid 1px;
    padding: 0 10px;
    font-weight: bold;
    color: #4362BF;
}

#simple-form .attachment-files-bar input.MultiFile-applied {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}

#simple-form .attachment-files-bar .MultiFile-list {
    border: #ccc solid 1px;
    border-top: none;
    margin-top: -5px;
}

#simple-form .attachment-files-bar .MultiFile-list a.MultiFile-remove {
    float: left;
    margin: 0 10px;
    display: inline-block;
    width: 16px;
    background: url(../images/del.gif) no-repeat left center;
}

#simple-form .attachment-files-bar .MultiFile-list a.MultiFile-remove:hover {
    text-decoration: none;
}

.checkbox-list .form-group {
    padding-left: 10px;
}

.checkbox-list .form-group label {
    display: inline-block;
    width: 80px;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
}

.checkbox-list .form-group .buttons {
    padding-left: 0;
}

.checkbox-list input.checkbox {
    float: left;
    margin-right: 10px;
    width: 30px;
}

.checkbox-list .buttons input {
    margin-left: 10px;
}

/* form buttons */
div.form .buttons {
    background: none;
    padding-left: 135px;
}

.form .btn {
    border: #ccc solid 1px;
    border-radius: 3px;
    background: #F5F5F5;
    display: inline-block;
    cursor: pointer;
    color: #4362BF;
    padding: 5px 10px;
}

.form .btn-lookup-update {
    margin-left: -1px;
    border: 1px solid #d5d5d5;
    border-radius: 0 3px 3px 0;
    vertical-align: top;
}

.form .btn:hover {
    border-color: #3b7fc4;
}

#form-lookup label {
    width: 120px;
}

/*******************************************************************************
 * Lookup form
 ******************************************************************************/
.error-summary {
    border: #c60000 solid 1px;
    background-color: #f5f5f5;
    padding: 0 10px 10px 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px;
}

.error-summary p {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: #c60000 solid 1px;
    color: #c60000;
}

.error-summary ul li {
    line-height: 24px;
    background: url("../images/bullet-blue.png") no-repeat left center;
    padding-left: 10px;
}

/* editor */
.editor {
    float: left;
    width: 610px;
}