@charset "utf-8";
body {
    background: #cadff0 url(../images/login/bg1.jpg) no-repeat;
    font: 13px/1.5 \5FAE\8F6F\96C5\9ED1, tahoma, arial, \5b8b\4f53, sans-serif;
    margin: 0;
    padding: 0;
}
li {
    color: #585858;
    list-style: none;
    margin-top: 5px;
}
#logo {
    margin: 100px auto 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
}
#in {
    background: url(../images/login/bg1.gif) no-repeat;
    height: 282px;
    margin: 0 auto;
    width: 633px;
}
#left {
    background: url(../images/login/soft.jpg) no-repeat;
    display: inline;
    float: left;
    height: 143px;
    margin: 80px 0 0 77px;
    width: 132px;
}
#right {
    float: left;
    position: relative;
    width: 350px;
}
#right ul {
    _margin-top: 40px;
    margin-top: 50px;
}
#right li {
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}
#right li.field-loginform-verifycode #loginform-verifycode-image {
    position: absolute;
    margin-top: 0px;
}
#right label {
    display: block;
    float: left;
    width: 66px;
    height: 30px;
    line-height: 30px;    
}
#right .field-loginform-rememberme label {
    width: 200px;
    margin-left: 63px;
}
#right .button {
    _width: 240px;
    background: url(../images/login/button.gif) no-repeat;
    border: none;
    height: 30px;
    width: 90px;
    cursor: pointer;
    margin-left: 60px;
}
#right input.form-control {
    height: 24px;
    line-height: 24px;
    padding: 2px;
    border: #7db6c7 solid 1px;
}
#right input#loginform-verifycode {
    width: 66px;
    margin-right: 10px;
    text-align: center;
}
#right input.error {
    border: red solid 1px;
}
.help-block {
    color: #F57D0B;
    padding-left: 68px;
    margin-top: 5px;
}
#footer {
    bottom: 0;
    color: #608caf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}